<div class="col-xs-12 col-sm-8">
	<br>
	<h2>Ver persona</h2> 
	<p>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Nombre:</strong>
			<%= @person.name %>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Apellido:</strong>
			<%= @person.last_name %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Sexo:</strong>
			<%= @person.sex %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Fecha de nacimiento:</strong>
			<%= @person.birth_date %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Profesión:</strong>
			<%= @person.job_title %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Teléfono:</strong>
			<%= @person.phone %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<strong>Correo electrónico:</strong>
			<%= @person.email %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Calle y número:</strong>
			<%= @person.address %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Colonia:</strong>
			<%= @person.neighborhood %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Delegación:</strong>
			<%= @person.delegation %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Código postal:</strong>
			<%= @person.zip_code %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Ciudad:</strong>
			<%= @person.city.name %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>Estado:</strong>
			<%= @person.state.name %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<strong>País:</strong>
			<%= @person.state.country.name %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-12 col-md-8">
			<strong>Registrado como:</strong>.			
			<% if @person.membership == 1 %>
			<%= 'Afiliado' %>
			<% end %>
			<% if @person.student == 1 %>
			<%= 'Alumno' %>
			<% end %>
			<% if @person.client == 1 %>
			<%= 'Cliente' %>
			<% end %>
			<% if @person.whosaler == 1 %>
			<%= 'Distribuidor' %>
			<% end %>
			<% if @person.employee == 1 %>
			<%= 'Empleado' %>
			<% end %>
			<% if @person.instructor == 1 %>
			<%= 'Instructor' %>
			<% end %>
			<% if @person.host == 1 %>
			<%= 'Organizador' %>
			<% end %>
			<% if @person.patient == 1 %>
			<%= 'Paciente' %>
			<% end %>
		</div>
	</p>
	<br>
	<p>
		<%= link_to 'Atrás', people_path, {:class=>"btn btn-link"} %> | <%= link_to 'Editar', edit_person_path(@person), {:class=>"btn btn-link"} %>
	</p>

	<h3>
		Cantidad de capacitaciones registradas: <%= @total   %>
	</p>
</h3>

<% if @total > 0 %>
<table style= "width: 100%;">
	<tr>
		<th>Capacitación</th>
		<th>Fecha</th>
		<th>Lugar</th>
		<th>Instructor</th>
		<th colspan="2">Acciones</th>
	</tr>

	<% @courses.each do |course|%>
	<tr>
		<td><%=course.category.name + ': ' + course.catalog.name  %></td>
		<td><%=course.event.event_date  %></td>
		<% @armar =  '/assets/flags/'+ course.event.city.state.country.name %>
		<td><%= image_tag(@armar)%> <%=course.event.city.name%></td>
		<td><%=course.event.instructor.name + ' ' + course.event.instructor.last_name  %></td>
		<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), attend_path(course), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
	</tr>
	<% end %>
</table>
<% end %>
</div>
