<%=form_for @state do |f|%>
<% if @state.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(@state.errors.count, "error") %> No se puede guardar el estado:
	</h2>
	<ul>
		<% @state.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
	<div class="col-xs-4 col-sm-6">
		<div class="form-horizontal">
			<div class="form-group">
				<%= f.label 'País', class: "col-sm-2 control-label"  %>
				<div class="col-sm-10">
					<%= f.collection_select :country_id, Country.order(:name), :id, :name, {prompt: "Seleccione el país"},  class: "form-control"  %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label 'Nombre', class: "col-sm-2 control-label" %>
				<div class="col-sm-10">
					<%= f.text_field :name, autofocus: true, class: "form-control", placeholder: 'Ingrese el nombre del estado' %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
					<%= f.submit "Enviar", class: "btn btn-primary btn-lg"  %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>