<%=render 'layouts/admin'%>
<div class="col-xs-6 col-sm-4">
	<br>
		<h2>Estados</h2> <br>
		<table width="300">
			<tr>
				<th>Nombre</th>
				<th colspan="2">Acciones</th>
			</tr>

			<% @states.each do |state|%>
			<tr>
				<td><%=state.name %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), state_path(state) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_state_path(state) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), state_path(state), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
			</tr>
			<% end %>
		</table>
		<br><br>
		<%= link_to 'Nuevo estado', new_state_path, {:class=>"btn btn-link"} %>
	
</div>
<div class="col-xs-6 col-sm-4">
	<br>
	<br>
	<br><br>
	<br>
	<br>
	<%= link_to 'Nuevo estado', new_state_path, {:class=>"btn btn-link"} %>
</div>