<div class="col-xs-12 col-sm-6 col-md-8">
	<br>
	<h2>Ver inventario</h2> 
	<p>
		<strong>Nombre:</strong>
		<%= @person.name + ' ' + @person.last_name %> 
		<br>
		<%= link_to 'Asignar inventario', new_dispatcher_path, {:class=>"btn btn-info"} %>
	</p>

	<h3> Unidades totales:
		<%= Dispatcher.where(:person_id => [@person.id] ).sum(:quantity) %>
	</h3>
	<table style= "width: 100%;">
		<tr>
			<th>Artículo</th>
			<th>Cantidad</th>
			<th>Última actualización</th>
			<th colspan="2">Acciones</th>
		</tr>

		<% @articles.each do |article|%>
		<tr>
			<td><%= article.product.name %> </td>
			<td > <%= article.quantity %> </td>
			<td > <%= article.updated_at.in_time_zone("Mexico City")  %> </td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_dispatcher_path(article) %>
				<%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), dispatcher_path(article), method: :delete, data: { confirm: '¿Está seguro?'} %>
			</td>
		</tr>
		<% end %>



	</div>
