<%=render 'layouts/admin'%>

<div class="col-xs-12 col-sm-6 col-md-8">
	<br>
	<h2>Ver préstamo</h2> 
	<p>
		<strong>Nombre:</strong>
		<%= @borrowing.person.name + ' '+ @borrowing.person.last_name %>
	</p>
	<p>
		<strong>Fecha:</strong>
		<%= @borrowing.created_at %>
	</p>
	<p>
		<strong>Monto:</strong>
		<%= @borrowing.amount %>
	</p>
	<p>
		<strong>Pagado:</strong>
		<%= @borrowing.paid %>
	</p>
	<p>
		<strong>Fecha del pago:</strong>
		<%= @borrowing.updated_at %>
	</p>
	<p>
		<strong>Motivo:</strong>
		<%= @borrowing.description %>
	</p>
	<p>
		<%= link_to 'Atrás', borrowings_path , {:class=>"btn btn-link"}%> | <%= link_to 'Editar', edit_borrowing_path(@borrowing), {:class=>"btn btn-link"} %>
	</p>
</div>

