<div class="col-xs-7 col-sm-5">
	<br>
		<h2>Países</h2> <br>
		<%= render 'search' %>
		
		<table style= "width: 100%;">
			<tr>
				<th>Nombre</th>
				<th colspan="2">Acciones</th>
			</tr>

			<% @countries.each do |country|%>
			<tr>
				<% @armar =  '/assets/flags/'+ country.name %>
				<td> <%= image_tag(@armar)%> <%= country.name %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), country_path(country) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_country_path(country) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), country_path(country), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
			</tr>
			<% end %>
		</table>
		<br><br>
		<%= link_to 'Nuevo país', new_country_path, {:class=>"btn btn-info"} %>
			<p><%= paginate @countries %></p>
</div>

<div class="col-xs-5 col-sm-3" id='right_new_item'>
	<%= link_to 'Nuevo país', new_country_path, {:class=>"btn btn-info"} %>
</div>