<%=render 'layouts/admin'%>
<div class="col-xs-7 col-sm-5">
	<br>
	<h2>Ciudades</h2> <br>
	<%= render 'search' %>


	<table style= "width: 100%;">
		<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th >País</th>
			<th colspan="2">Acciones</th>
		</tr>

		<% @cities.each do |city|%>
		<tr>
			<td><%= link_to city.name, city_path(city) %></td>
			<td><%=city.state.name %></td>
			<% @armar =  '/assets/flags/'+ city.state.country.name %>
			<td><%= image_tag(@armar)%>  <%= city.state.country.name %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), city_path(city) %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_city_path(city) %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), city_path(city), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
		</tr>
		<% end %>
	</table>
	<br><br>
	<%= link_to 'Nueva ciudad', new_city_path, {:class=>"btn btn-info"} %>
	<p><%= paginate @cities %></p>

	
</div>


<div class="col-xs-5 col-sm-3" id='right_new_item'>
	<%= link_to 'Nueva ciudad', new_city_path, {:class=>"btn btn-info"} %>
</div>

