<div class="col-xs-7 col-sm-5">
	<br>
	<h2>Productos</h2> <br>
	<%= render 'search' %>

	<table style= "width: 100%;">
		<tr>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Descuento</th>
			<th>Peso</th>
			<% if current_user.privilege == 'admin' %>
			<th colspan="2">Acciones</th>
			<% end %>
		</tr>

		<% @products.each do |product|%>
		<tr>
			<td> <%= product.name %></td>
			<td> <%= product.price %> MXN</td>
			<td> <%= product.max_discount %> % </td>
			<td> <%= product.weight %> gr </td>
			<% if current_user.privilege == 'admin' %>
			<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), product_path(product) %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_product_path(product) %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), product_path(product), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<br><br>
	<p><%= paginate @products %></p>
</div>
<% if current_user.privilege != 'seller' %>
	<div class="col-xs-5 col-sm-3" id='right_new_item'>
		<%= link_to 'Nuevo producto', new_product_path, {:class=>"btn btn-info"} %>
	</div>
<% end %>