<div class="col-xs-12 col-sm-8">
	<br>
	<h2>Ventas</h2> <br>
	<%= render 'search' %>



	<table style= "width: 100%;">
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Vendedor</th>
			<th>Fecha</th>
			<th>Obs</th>
			<th>Factura</th>
			<th>Total</th>
			<% if current_user.privilege != 'seller' %>
			<th colspan="2">Acciones</th>
			<% end %>
		</tr>
		<br>
		<% @sales.each do |sale|%>
			<% if current_user.privilege != 'seller' %>
			<tr>
				<td><%=  sale.client.try(:name) %></td>
				<td><%=  sale.client.try(:last_name) %></td>
				<td><%= sale.seller.name+' '+ sale.seller.last_name%></td>
				<td><%= sale.created_at.in_time_zone("Mexico City") %></td>
				<td><% if sale.observation == nil %>
					<%= "No" %> 
					<% else %>
					<%= "Si" %>
					<% end %>
				</td>
				<td><%= sale.bill_request %></td>
				<td><%= sale.total %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), sale_path(sale) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_sale_path(sale) %></td>
				<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), sale_path(sale), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
			</tr>
			<% else %>
				<%if sale.seller_id == Person.where(:email => current_user.email).pluck(:id).first.to_i %>
					<tr>
						<td><%=  sale.client.try(:name) %></td>
						<td><%=  sale.client.try(:last_name) %></td>
						<td><%= sale.seller.name+' '+ sale.seller.last_name%></td>
						<td><%= sale.created_at.in_time_zone("Mexico City") %></td>
						<td>
							<% if sale.closed == false %>
							Abierta
							<% else %>	
							Cerrada
							<% end %>
						</td>
						<td><%= sale.bill_request %></td>
						<td><%= link_to raw('<span class="glyphicon glyphicon-eye-open fa-2x"></span>'), sale_path(sale) %></td>
						<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_sale_path(sale) %></td>
				<% end %>
			<% end %>
		<% end %>
	</table>
	<br><br>
	<p><%= paginate @sales %></p>
</div>
