<div class="col-xs-12 col-md-8">
	<br>
	<h2>Ver venta</h2> 

	<p>
		<div class="col-xs-12 col-sm-4 col-md-4">
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Vendedor:</strong>
			<%= @sale.seller.name + ' ' + @sale.seller.last_name%>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Cliente:</strong>
			<%= @sale.client.name + ' ' + @sale.client.last_name%>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Teléfono:</strong>
			<%= @sale.client.phone %>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Email:</strong>
			<%= @sale.client.email%>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12">
			<strong>Dirección:</strong>
			<%= @sale.client.address + ' , ' + @sale.client.neighborhood + ' , ' + @sale.client.delegation    + ' , ' + @sale.client.zip_code.to_s + ' , ' +  @sale.client.city.name + ' , ' + @sale.client.city.state.name + ' , ' + @sale.client.city.state.country.name%>
		</div>
	</p>
		<p>
		<br>
		<div class="col-xs-12">
			<strong>Observación:</strong>
			<%= @sale.observation %>
		</div>
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Fecha:</strong>
			<%= @sale.updated_at.in_time_zone("Mexico City")%>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Status:</strong>
			<% if @sale.closed == false %>
			Abierta
			<% else %>	
			Cerrada
			<% end %>
		</div>	
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Solicitud de factura:</strong>
			<%= @sale.bill_request%>
		</div>	
	</p>
	<p>
		<br>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Nombre fiscal:</strong>
			<%= @sale.business_name %>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>Domicilio fiscal:</strong>
			<%= @sale.business_address %>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<strong>RFC:</strong>
			<%= @sale.rfc %>
		</div>
	</p>
	<br>
	<h3>Productos</h3>
	<table style= "width: 100%;">
		<tr>
			<th>Artículo</th>
			<th>cantidad</th>
			<th>Precio unitario</th>
			<th>Importe</th>
			<% if @sale.closed == false %>
			<th colspan="2">Acciones</th>
			<% end %>
		</tr>

		<% total = 0 %>
		<% discount = 0 %>
		<% total_discount = 0 %>
		<% weight = 0 %>
		<% @details.each do |detail|%>
		<tr>
			<td><%=detail.product.try(:name) %></td>
			<td><%=detail.quantity %></td>	
			<td><%=detail.product.try(:price)  %></td>
			<td><%=detail.product.try(:price)*detail.quantity %></td>
			<% total+= detail.product.try(:price)*detail.quantity %>
			<% weight += (detail.product.try(:weight)*detail.quantity) %>
			<% if @sale.closed == false %>
			<td><%= link_to raw('<span class="glyphicon glyphicon-edit fa-2x"></span>'), edit_detail_path(detail) %></td>
			<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), detail_path(detail), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
			<% end %>
		</tr>
		<% end %>
		<tr>
			<td></td>
			<td></td>
			<td> <strong>Subtotal:</strong></td>
			<td> <%= total %></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td> <strong>Descuento:</strong></td>
			<td> 
				<% if total < 1100 %> 
				<% discount = 0 %>
				<% elsif total >= 1100 and total < 1400 %>
				<% discount = 10 %>
				<% elsif total >= 1400 and total < 2000 %>
				<% discount = 20 %>
				<% elsif total >= 2000 and total < 4800 %>
				<% discount = 30 %>
				<% elsif total >= 4800 and total < 7500 %>
				<% discount = 40 %>
				<% else %>
				<% discount = 50 %>
				<% end %>
				<% @details.each do |detail|%>
				<% if  detail.product.try(:max_discount) >= discount %>
				<% total_discount = total_discount + ( detail.product.try(:price)*detail.quantity * detail.product.try(:max_discount) /100 ) %>
				<% else %>
				<% total_discount = total_discount + ( detail.product.try(:price)*detail.quantity * detail.product.try(:max_discount) /100 ) %>
				<% end %>
				<% end %>
				<%= total_discount %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td> <strong>Total:</strong></td>
			<td>
				<% total = total - total_discount %> 
				<%= total %>
			</td>
		</tr>
		<tr>
			<td>
				<% if @sale.closed == false  %>
				<%= link_to 'Añadir a la bolsa', new_detail_path(:sale_id => @sale.id), {:class=>"btn btn-primary"} %>
				<% end %>
			</td>
			<td>
			</td>
			<td>
				<% if @sale.closed == false  %>
				<%= link_to 'Cerrar la venta', sales_close_path(:id => @sale.id, :total => total), {:class => "btn btn-primary"} %>

				<% else %>
				<td>
					<%= button_to "Imprimir", sale_path(format: "pdf"), :class => "btn btn-primary",:method => :get,target: '_blank'  %>  
				</td>
				<% end %>
				<td>
					<% if @sale.client.email != "" %>
					<%= link_to "Enviar correo", sales_send_ticket_path(:id => @sale.id, :email => @sale.client.email), :class => "btn btn-primary"  %>
					<% end %>
				</td>					
			</td>
		</tr>
	</table>
	<p style="color: red;">El peso estimado del paquete es: <%= weight + 200%> gramos</p>
	


</div>
