<div class="col-xs-7 col-sm-5">
	<br>
	<h2>Participantes</h2> <br>

	<table style= "width: 100%;">
		<tr>
			<th>Participante</th>
			<th>Teléfono</th>
			<th>Correo</th>
			<th>Enterado por</th>
			<th colspan="2">Acciones</th>
		</tr>

		<% @attends.each do |attend|%>
	<tr>
		<td><%=attend.person.name + ' ' + attend.person.last_name %></td>
		<td><%=attend.person.phone  %></td>
		<td><%=attend.person.email  %></td>
		<td><%=attend.comming_from  %></td>
		<td><%= link_to raw('<span class="glyphicon glyphicon-trash fa-2x"></span>'), attend_path(attend), method: :delete, data: { confirm: '¿Está seguro?'} %></td>
	</tr>
		<% end %>
	</table>
	<br><br>
	<%= link_to 'Nuevo artículo', new_catalog_path, {:class=>"btn btn-info"} %>

	
</div>
<div class="col-xs-5 col-sm-3" id='right_new_item'>
	<%= link_to 'Nuevo artículo', new_catalog_path, {:class=>"btn btn-info"} %>
</div>