<br>
<br>
<br>
	<div class="col-xs-6 col-md-4">
		<ul class="nav nav-pills nav-stacked" >
			<h3>Entidades</h3>
              <li class="<%= 'active' if params[:controller] == 'categories' %>"> <%= link_to 'Categorias', categories_path %></li>        
			<li class="<%= 'active' if params[:controller] == 'states' %>"> <%= link_to 'Estados', states_path %></li>    
			<li class="<%= 'active' if params[:controller] == 'cities' %>"> <%= link_to 'Ciudades', cities_path %></li>     
		</ul>
	</div>
